<a [routerLink]="['/restaurants', restaurant.id]">
  <div class="card p-0" [@restaurantAppeared]="restaurantState" style="max-height: 100% !important;">
    <div class="card-body">
      <span class="place-info-box-icon bg-white">
        <img [src]="restaurant.imagePath"/>
      </span>
      <div class="place-info-box-content">
        <span class="place-info-box-text py-2">{{restaurant.name}}
          <span class="float-right"><i class="fa fa-star"></i> {{restaurant.rating}}</span>
        </span>
        <span class="place-info-box-detail"><b>Categoria:</b> {{restaurant.category}}</span>
        <span class="place-info-box-detail"><b>Estimativa:</b> {{restaurant.deliveryEstimate}}</span>
      </div>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>
<br>