<!--INICIO DO CONTEUDO-->
<!-- <section class="content-header"></section> -->
<style>
  .has-is-valid{
    border-color: #00885f !important;
  }
</style>
<div class="container p-0">
  <h1 class="text-left text-light font-weight-bold py-3">Finalize o seu pedido</h1>
</div>

<section class="content bg-white p-4 rounded">
  <div class="container">

    <form [formGroup]="orderForm" novalidate>

      <div class="row">
        <div class="col-md-12 p-0 py-2">
          <p class="font-weight-bold">Dados Pessoais</p>
        </div>
        <div class="col-md-4 pl-0">
          <mt-input-container errorMessage="Campo Obrigatório" label="Nome">
            <input formControlName="name" placeholder="Nome" autocomplete="off" class="form-control">
          </mt-input-container>
        </div>
        <div class="col pl-0">
          <mt-input-container errorMessage="Email Invalido" label="Email">
            <input formControlName="email" placeholder="Email" autocomplete="off" class="form-control">
          </mt-input-container>
        </div>
        <div class="col pl-0">
          <mt-input-container errorMessage="Campo Obrigatório" label="EmailConfirm">
            <input formControlName="emailConfirmation" placeholder="Confirme o Email" autocomplete="off" class="form-control">
          </mt-input-container>
        </div>
      </div>
  
      <div class="row p-0">
        <div class="col-md-12 p-0 py-2">
          <p class="font-weight-bold">Endereço de Entrega:</p>
        </div>
        <div class="col-md-6 pl-0">
          <mt-input-container errorMessage="Campo Obrigatório e com 5 caracteres" label="Endereço">
            <input formControlName="address" placeholder="Endereço" autocomplete="off" class="form-control">
          </mt-input-container>
        </div>
        <div class="col pl-0">
          <mt-input-container errorMessage="Número Obrigatório" label="Número">
            <input formControlName="number" placeholder="Número" autocomplete="off" class="form-control">
          </mt-input-container>
        </div>
        <div class="col">
          <mt-input-container label="Complemento">
            <input type="text" formControlName="optionalAdress" class="form-control" id="inputSuccess" placeholder="Complemento" autocomplete="off">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="font-weight-bold">Itens do Pedido:</p>
        </div>
        <div class="col-xs-12 table-responsive">
          <mt-order-items [items]="cartItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)" (remove)="remove($event)"></mt-order-items>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row p-0">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12 p-0">
          <p class="font-weight-bold">Formas de Pagamento:</p>
            <div class="form-group">
                <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio> <!-- RENOMEAR NAME PARA FORMCONTROLNAME DEPOIS-->
            </div>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12 p-0">
          <p class="font-weight-bold">Frete e Total:</p>
          
          <mt-delivery-costs
            [delivery]="delivery"
            [itemsValue]="itemsValue()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)"
          [disabled]="!orderForm.valid || cartItems().length === 0" class="btn btn-success float-right">
            <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>
  </div>
</section>
<!-- FIM DO CONTEUDO-->