
<div class="wrapper">

  <mt-header></mt-header>

  <div class="content-wrapper bg-danger py-5">
    <div class="container mx-auto">
        <router-outlet></router-outlet>
    </div>
  </div>

  <mt-snackbar></mt-snackbar>

  <!-- <mt-footer></mt-footer> -->
  <div class="text-center bg-danger">
    <i class="fa fa-2x fa-fire text-light"></i>
    <p class="lead bg-danger text-light">Designed by <span class="font-weight-bold">Inovale <i class="fa fa-registered"></i></span>.</p>
  </div>
</div>
